@CHARSET "ISO-8859-1";
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.bg-image {
  position: relative;
  width: 100%;
  height: 100%;
  background: url('') center center no-repeat;
  background-size: cover;
  
  &:before {
    content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
	opacity: .6; 
  }
}

input
{
	height: 50px;
	width:70%;
	border-radius: 20px;
	font-size:110%;
}

#submit
{
	background-color: black;
	color:white;
	cursor: pointer;
	transition: transform 1s;
}

#submit:hover
{
	transform: scale(1.05);
}

a
{
	color:black;
	font-size: 110%;
	 text-decoration-line: none;
}

a:hover
{
	text-decoration-line: underline;
	
}